# ECSDA Account ID
OPERATOR_ID_A=0.0.2

# ECDSA DER Encoded Private Key
OPERATOR_KEY_A=

# Comma-separated list of ECDSA private keys, each in hex format and starting with "0x"
PRIVATE_KEYS=

RETRY_DELAY=3000
MAX_RETRY=5
