node_modules
cache
.idea
.env
test-results.*

# Ignore all default artifacts except for TokenCreateCustomContract, TokenManagementContract, TokenQueryContract, TokenTransferContract, IHRC729Contract, PrngSystemContract, ERC20Mock, ERC721Mock
# because the System Contract DApp requires the bytecode of these contracts
artifacts/contracts/*
artifacts/build-info
artifacts/contracts/**/**/*.dbg.json

!artifacts/contracts/system-contracts
artifacts/contracts/system-contracts/*
!artifacts/contracts/system-contracts/exchange-rate
!artifacts/contracts/system-contracts/pseudo-random-number-generator
!artifacts/contracts/system-contracts/hedera-token-service
artifacts/contracts/system-contracts/hedera-token-service/*
!artifacts/contracts/system-contracts/hedera-token-service/examples
!artifacts/contracts/system-contracts/hedera-token-service/IHRC719.sol

!artifacts/contracts/exchange-rate-precompile
artifacts/contracts/exchange-rate-precompile/*
!artifacts/contracts/exchange-rate-precompile/ExchangeRateMock.sol

## --- Hardhat Gitignore for Foundry artifacts ---
artifacts/forge-std
artifacts/ds-test
test/state-registry/states.json
test/state-registry/ercStates.json

coverage.json
